.TextBoxHomepage {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	width: 130px;
}

.TextBoxJoinUs {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	width: 140px;
}

.DropDown {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	width: 156px;
	margin-bottom: 0px;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

a {
	color: #333366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:active { color: #336699; }
a:visited { color: #333366; }
a:hover { color: #336699; text-decoration: none}
.highlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
}
.codeGrey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.codeRed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC0000;
	font-weight: bold;
}
.contentWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

/*
     FILE ARCHIVED ON 18:02:48 Feb 03, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:54:07 Jan 22, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.185
  captures_list: 118.892
  RedisCDXSource: 3.741
  esindex: 0.012
  PetaboxLoader3.resolve: 115.791 (2)
  CDXLines.iter: 16.559 (3)
  exclusion.robots: 0.2
  LoadShardBlock: 92.792 (3)
  load_resource: 773.126
  PetaboxLoader3.datanode: 736.315 (4)
*/